.clickable {
  cursor: pointer;
}

.card {
  margin: 1%;
}

#postsFeed {
  max-width: 800px;
}

#postOptions {
  max-width: 100%;
}

.tag-link {
  margin-left: 0.5rem;
}

#site-title {
  color: inherit;
  text-decoration: none;
}