.clickable {
  cursor: pointer;
}

.card {
  margin: 1%;
}

#posts-feed {
  max-width: 800px;
}

#post-options {
  max-width: 100%;
}

.tag-link {
  margin-left: 0.5rem;
}

#site-title {
  color: inherit;
  text-decoration: none;
}

.card-body {
  white-space: pre-line;
}