@media (min-width: 576px) {
  .small-screen {
    display: none;
  }
}

@media (max-width: 575px) {
  .large-screen {
    display: none;
  }
}

blockquote p:before {
  content: open-quote;
}

blockquote p:after {
  content: close-quote;
}

.card {
  margin: 1%;
}

.card-body {
  white-space: pre-line;
}

.clickable {
  cursor: pointer;
}

.tag-link {
  margin-left: 0.5rem;
}

.user-link {
  color: inherit;
}

#posts-feed {
  max-width: 800px;
}

#post-options-large {
  max-width: 100%;
}

#site-title {
  color: inherit;
  text-decoration: none;
}
